<%- layout('layouts/boilerplate') %>
    <!--loader -->
    <div class="loader-container">
        <img draggable="false" src="/images/preloader.gif" alt="">
    </div>

    <!--Inicio de seccion INICIO -->
    <section class="home" id="home">
        <div id="particles-js"></div>

        <div class="content">
            <h3>Hola,<br /> Soy Federico <span>Dorigatti Assan</span></h3>
            <p>Y Amo el <span class="typing-text"></span></p>
            <a href="#about" class="btn"><span>Sobre mi</span>
                <i class="fas fa-arrow-circle-up"></i>
            </a>
            <!-- Redes SocialesLinks -->
            <div class="socials">
                <ul class="social-icons">
                    <li><a class="linkedin" href="https://www.linkedin.com/in/desarrrolladorfrontendbackend/"
                            target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a class="github" href="https://github.com/F-DoriAss" target="_blank"><i
                                class="fab fa-github"></i></a>
                    </li>
                    <li><a class="telegram" href="#" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/dori.f/"><i class="fab fa-instagram"
                                target="_blank"></i></a></li>
                    <li><a class="dev" href="/" target="_blank"><i class="fab fa-dev"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="image">
            <img draggable="false" class="tilt" src="images/perfile/Perfil.jpg" alt="">
        </div>
    </section>
    <!-- Fin de INICIO -->


    <!-- Inicio de seccion PERFIL -->
    <section class="about" id="about">
        <h2 class="heading"><i class="fas fa-user-alt"></i> Perfil <span>DoriAss</span></h2>

        <div class="row">

            <div class="image">
                <img draggable="false" class="tilt" src="images/perfile/About.png" alt="">
            </div>
            <div class="content">
                <h3>Yo soy Federico</h3>
                <span class="tag">Desarrollador FullStack apasionado</span>
                <p>Realizo programacion en
                    Informática. Un trabajador del sector IT. Soy una persona curiosa y
                    aprender nuevas tecnologías me resulta muy tentador. Un desarrollador con muchas capacidades y ganas
                    de seguir aprendiendo, marcando la diferencia! Solo es dedicacion y confianza, paginas totalmente didacticas.</p>

                <div class="box-container">
                    <div class="box">
                        <p><span> Años: </span> 24</p>
                        <p><span> Celular : </span> <a href="https://api.whatsapp.com/send?phone=541141761096&text=More+information+about+%7C+M%C3%A1s+informacion+sobre%3A+">
                                +54 (11) 4176-1096
                            </a></p>
                    </div>
                    <div class="box">
                        <p><span> Email : </span><a href="mailto:doriass.f@gmail.com">
                                doriass.f@gmail.com
                            </a></p>
                        <p><span> Lugar : </span> Mar del Plata, Provincia de Buenos Aires - B7600FYA</p>
                    </div>
                </div>
                <!-- BTN descarga de CV -->
                <div class="resumebtn">
                    <a href="/cv/Curriculum-Federico-Dorigatti.pdf" class="btn"
                        download="/cv/Curriculum-Federico-Dorigatti.pdf"><span>Descargar CV</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!-- Fin de seccion PERFIL -->

    <!-- Icio de seccion de Habilidades -->
    <section class="skills" id="skills">

        <h2 class="heading"><i class="fas fa-laptop-code"></i> Habilidades en <span>Lenguajes</span></h2>

        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="bar">
                        <div class="info">
                            <i class="fab fa-html5">
                                <span>HTML</span></i>
                            <span>98%</span>
                        </div>
                        <div class="line html"></div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <i class="fab fa-css3-alt">
                                <span>CSS</span></i>
                            <span>95%</span>
                        </div>
                        <div class="line css"></div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <i class="fab fa-js-square">
                                <span>Javascript</span></i>
                            <span>90%</span>
                        </div>
                        <div class="line javascript"></div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <i class="fab fa-bootstrap">
                                <span>Bootstrap 5.2</span></i>
                            <span>85%</span>
                        </div>
                        <div class="line bootstrap"></div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <i class="fab fa-php">
                                <span>PHP</span></i>
                            <span>80%</span>
                        </div>
                        <div class="line php"></div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <i class="fas fa-database">
                                <span>MySQL</span></i>
                            <span>82%</span>
                        </div>
                        <div class="line mysqli"></div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <i class="fab fa-react">
                                <span>ReactJS</span></i>
                            <span>60%</span>
                        </div>
                        <div class="line reactjs"></div>
                    </div>
                </div>

                <div class="col">
                    <div class="bar">
                        <div class="info">
                            <i class="fas fa-database">
                                <span>Laragon</span></i>
                            <span>90%</span>
                        </div>
                        <div class="line mongo"></div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <i class="fab fa-js">
                                <span>ExpressJS</span></i>
                            <span>90%</span>
                        </div>
                        <div class="line express"></div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <i class="fab fa-npm">
                                <span>NodeJS</span></i>
                            <span>82%</span>
                        </div>
                        <div class="line nodejs"></div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <i class="fab fa-python">
                                <span>Python</span></i>
                            <span>82%</span>
                        </div>
                        <div class="line sass"></div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <i class="fab fa-r-project">
                                <span>R</span></i>
                            <span>85%</span>
                        </div>
                        <div class="line mongoose"></div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <i class="fab c">
                                <span>C#</span></i>
                            <span>82%</span>
                        </div>
                        <div class="line sass"></div>
                    </div>

                    <div class="bar">
                        <div class="info">
                            <i class="fab fa-github">
                                <span>Git & GitHub | VCS</span></i>
                            <span>90%</span>
                        </div>
                        <div class="line vcs"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Fin de seccion de HABILIDADES -->


    <!-- Inicio de seccion de EDUCACCION -->
    <section class="education" id="education">

        <h1 class="heading"><i class="fas fa-graduation-cap"></i> Mis <span>Estudios</span></h1>

        <p class="qoute">La educación no es el aprendizaje de hechos, mas bien es un entrenamiento de la mente poder
            pensar.</p>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img draggable="false" src="/images/educat/univercity.jpg" alt="Utn tucuman">
                </div>
                <div class="content">
                    <h3>Licienciatura en programacion</h3>
                    <p>Universidad Tecnologica Nacional | Tucumán</p>
                    <h4>2020-2023 | Sin cursar</h4>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img draggable="false" src="/images/educat/scohol.jpg" alt="Colegio CeDAR">
                </div>
                <div class="content">
                    <h3>Bachillerato en Adm. de empresas</h3>
                    <p>Centro de estudios de altos rendimientos | Tucumán</p>
                    <h4>2012-2018 | Completado</h4>
                </div>
            </div>

        </div>
    </section>
    <!-- Fin de seccion de EDUCACION -->


    <!-- Inicio de saccion de Prooyectos-->
    <section class="work" id="work">

        <h2 class="heading"><i class="fas fa-laptop-code"></i> Mis <span>Proyectos</span></h2>

        <div class="box-container">
            <% for(let i=0; i < 6; i++) { %>
                <div class="box tilt">
                    <img draggable="false" src="<%=projects[i].image%>" alt="Project Image" />
                    <div class="content">
                        <div class="tag">
                            <h3>
                                <%=projects[i].name%>
                            </h3>
                        </div>
                        <div class="desc">
                            <p>
                                <%=projects[i].desc%>
                            </p>
                            <div class="btns">
                                <a href="<%=projects[i].links.view%>" class="btn" target="_blank"><i
                                        class="fas fa-eye"></i>
                                    Ver</a>
                                <a href="<%=projects[i].links.code%>" class="btn" target="_blank">Codigo <i
                                        class="fas fa-code"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

        </div>

        <div class="viewall">
            <a href="/project" class="btn"><span>Ver Mas</span>
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>

    </section>
    <!-- Fin de seccion PROYECTOS -->

    <!-- Inicio de seccion de EXPERIENCIA -->
    <section class="experience" id="experience">

        <h2 class="heading"><i class="fas fa-briefcase"></i> Experiencias </h2>

        <div class="timeline">

            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>Atención al cliente(Drugstore Argentina)</h2>
                    </div>
                    <div class="desc">
                        <h3>Encargado del local, atención al cliente arqueo y cierre de caja.</h3>
                        <p>Sep 2022 - Jul 2023</p>
                    </div>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <div class="tag">
                        <h2>Python FullStack</h2>
                    </div>
                    <div class="desc">
                        <h3>Codo a Codo | Certificado</h3>
                        <p>Dic 2022 - 208 horas</p>
                    </div>
                </div>
            </div>

            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>Playero(YPF)</h2>
                    </div>
                    <div class="desc">
                        <h3>Atención al cliente, Carga de combustible, cierre de planilla y tareas
                            de mantenimiento del playado</h3>
                        <p>Mar 2022 - May 2022</p>
                    </div>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <div class="tag">
                        <h2>Programacion Web - Front End Developer</h2>
                    </div>
                    <div class="desc">
                        <h3>Buenos Aires Multiplica UTN | Certificado</h3>
                        <p>Dic 2022 - 56 horas</p>
                    </div>
                </div>
            </div>

            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>Vendedor y cajero de préstamo(Rapi-Coutas)</h2>
                    </div>
                    <div class="desc">
                        <h3>Atención al cliente en salón, ventas y cobros de préstamos, informes. Control de AFIP,
                            Anses, sistemas bancarios veraz y nosiss.</h3>
                        <p>Sep 2021 - Feb 2022</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="morebtn">
            <a href="/experience" class="btn"><span>Ver Mas</span>
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>

        </div>

    </section>
    <!-- Fin de seccion de EXPERIENCIA -->

    <!-- Inicio de seccion CONTACTO(formulario) -->
    <section class="contact" id="contact">

        <h2 class="heading"><i class="fas fa-headset"></i> Poneté en <span>Contacto</span></h2>

        <div class="container">
            <div class="content">
                <div class="image-box">
                    <img draggable="false" src="/images/contact1.png" alt="">
                </div>
                <form action="#">

                    <div class="form-group">
                        <div class="field">
                            <input type="text" name="name" placeholder="Nombre" required>
                            <i class='fas fa-user'></i>
                        </div>
                        <div class="field">
                            <input type="text" name="email" placeholder="Email" required>
                            <i class='fas fa-envelope'></i>
                        </div>
                        <div class="field">
                            <input type="text" name="phone" placeholder="Celular">
                            <i class='fas fa-phone-alt'></i>
                        </div>
                        <div class="message">
                            <textarea placeholder="Escribe un comentario..." name="Message" required></textarea>
                            <i class="fas fa-comment-dots"></i>
                        </div>
                    </div>
                    <div class="button-area">
                        <button type="submit"
                            title="¡Lo siento! Este servicio aún no está activo. Hasta entonces, chat en vivo.">
                            Enviar <i class="fa fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Fin de seccion CONTACTOS -->



    <!--btn scroll-sube -->
    <a href="#home" class="fas fa-angle-up" id="scroll-top"></a>
    <!-- scroll atras -->